[Desktop Entry]
Name=Convert CUBE to SPHERE droplet
Exec="/home/ubuntu/krpano/krpanotools" cube2sphere -config=templates/convertdroplets.config %F
Path=/home/ubuntu/krpano/
Icon=/home/ubuntu/krpano/.converticon
Terminal=true
Type=Application
Categories=Application;Graphics;
StartupNotify=false
